@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Styling main content */

:root {

    /* Color */
    --bs-white: #fff;
    --bs-black: #000;
    --bs-orange: #FCA311;
    --bs-light-grey: #E5E5E5;
    --bs-vr-dark-blue: #01010C;
    --bs-grey: #757575;
    --bs-dark-blue: #14213D;
    --bs-deep-red: #af1a24;
    --bs-dark-purple: #433551;
    --bs-cyan-blue: #48A0B5;


    /* Font-size */
    --fs-13: 13px;
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-32: 32px;
    --fs-48: 48px;
    --fs-56: 56px;


    /* Font-weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

.site {
    background-color: var(--bs-light-grey);
    padding: 20px;
}

a {
    color: var(--bs-orange);
}

.container h2 {
    color: var(--bs-dark-blue);
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background-color: var(--bs-orange);
    color: var(--bs-white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.ch-button {
    display: inline-block;
    background-color: var(--bs-orange);
    color: var(--bs-white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor:default;
    margin-top:-1vh;
}

@media (max-width:767px) {
    .ch-button {
        display: inline-block;
        background-color: var(--bs-orange);
        color: var(--bs-white);
        padding: 5px 10px;
        border-radius: 5px;
        text-decoration: none;
        cursor:default;
        margin-top:-1vh;
    }
    section .div h3 {
        font-size: var(--fs-13)
    }
    .div0 h1 {
        font-size: var(--fs-24)
    }
}

.card {
    background-color: var(--bs-vr-dark-blue) !important;
}

.card h2, .form-label, a.text-muted, p{
    color: var(--bs-light-grey)!important; 
}

.card-body h2 {
    color: var(--bs-cyan-blue);
}

p {
    color: var(--bs-light-grey) !important;
}

.btn-outline-danger:hover {
    background-color: var(--bs-deep-red)!important;
}

.custom-btn {
    border-color: var(--bs-cyan-blue)!important;
    color: var(--bs-cyan-blue)!important;
}

.custom-btn:active, .custom-btn:hover {
    background-color: var(--bs-cyan-blue)!important;
    color: var(--bs-white)!important;
}

.custom-btn2 {
    border-color: var(--bs-dark-purple)!important;
    color: var(--bs-dark-purple)!important;
}

.custom-btn2:active, .custom-btn2:hover {
    background-color: var(--bs-dark-purple)!important;
    color: var(--bs-white)!important;
}

img {
    width:100%;
}

/* Resetting some default styles */

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

/* Styling header */

.header0, .headercs {
    background-color: var(--bs-dark-blue);
    color: var(--bs-white);
}

.colorchange {
    fill: var(--bs-deep-red);
}


nav ul li {
    margin-right: 20px;
}

.nav-link:visited {
    color: var(--bs-white);
}

.nav-link.active {
    color: var(--bs-white)!important;
}

.nav-link:hover {
    color: var(--bs-orange)!important;
}

.imglogo {
    width: 250px;
    height: 90px;
}

.header0 h1 {
    font-weight: var(--fw-bold);
}

section .div0 {
    border: 6px solid var(--bs-dark-blue);
    background-color: var(--bs-dark-blue);
    border-radius: 6px;
    color: var(--bs-white);
    font-size: var(--fs-24);
}

section .div0 i {
    color:var(--bs-orange);
}

section .div1 {
    border: 6px solid var(--bs-white);
    background-color: var(--bs-white);
    border-radius: 25px;
    color: var(--bs-black);
    font-size: var(--fs-24);
    box-shadow: 10px 10px;
}

section .div1 h3 {
    margin-top:1vh;
    margin-left: 3vh;
}

a {
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important; 
}

.navbar-toggler {
    border: none!important;
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none!important;
}

/* Styling Carousel */
.carousel-image {
    max-height: 600px;
    object-fit: cover;
}

@media (max-width: 991px) {
    .carousel-image {
        max-height: 400px;
        object-fit: cover;
    }
}

.carousel-indicators [data-bs-target] {
    background-color: var(--bs-dark-blue); 
}

.carousel-indicators .active {
    background-color: var(--bs-orange); 
}

@media (min-width: 768px) {
    .owl-carousel .owl-item {
        width: 100%; 
    }
}

@media (min-width: 992px) {
    .owl-carousel .owl-item {
        width: 50%; 
    }
}

@media (min-width: 1200px) {
    .owl-carousel .owl-item {
        width: 33.33%; 
    }
}

.apoyo img:hover {
    filter: blur(4px);
}

.apoyo {
    position: relative;
}

.apoyo img {
    display: block;
    border-radius: 10px;
}

.button {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--bs-orange);
    color: var(--bs-white);
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.apoyo:hover .button {
    display: block;
}

/* Tooltip container */
.tooltip {
    position: relative;
  }
  
  /* Tooltip text */
  .tooltip:hover::after {
    content: "Description goes here";
    position: absolute;
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 125%; /* Position the tooltip above the text */
  }
  
/* .custom-carousel-img {

} */

/* Styling footer */
footer {
    background-color: var(--bs-grey);
    color: var(--bs-white);
    text-align: center;
    padding: 10px 0;
}
