@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

button.custom-btn, button.custom-btn:hover {
    background-color: var(--bs-deep-red);
    color: var(--bs-white);
}

button.custom-btn2, button.custom-btn2:hover {
    background-color: var(--bs-dark-purple);
    color: var(--bs-white);
}

img {
    width:100%;
}
  
  .bocadillo {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  }
  
  .contenedor:hover .bocadillo {
    visibility: visible;
  }

/* Resetting some default styles */

body {
    font-family: Arial, Helvetica, sans-serif !important;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styling header */

header {
    background-color: var(--bs-dark-blue);
    color: var(--bs-white);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--bs-white);
    text-decoration: none;
}

a.navbar-brand, a.nav-link, a.nav-link:active {
    color: var(--bs-white);
}

/* Styling main content */

:root {

    /* Color */
    --bs-white: #fff;
    --bs-black: #000;
    --bs-orange: #FCA311;
    --bs-light-grey: #E5E5E5;
    --bs-vr-dark-blue: #01010C;
    --bs-grey: #757575;
    --bs-dark-blue: #14213D;
    --bs-deep-red: #af1a24;
    --bs-dark-purple: #433551;


    /* Font-size */
    --fs-16: 16px;
    --fs-24: 24px;
    --fs-32: 32px;
    --fs-48: 48px;
    --fs-56: 56px;


    /* Font-weight */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

main {
    background-color: var(--bs-light-grey);
    padding: 20px;
}

.container {
    padding: 20px;
    margin-bottom: 20px;
}
.container h2 {
    color: var(--bs-dark-blue);
    margin-bottom: 10px;
}

.cta-button {
    display: inline-block;
    background-color: var(--bs-orange);
    color: var(--bs-white);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.card {
    background-color: var(--bs-vr-dark-blue) !important;
}

.card h2, .form-label, a.text-muted, p{
    color: var(--bs-light-grey)!important; 
}

p {
    color: var(--bs-light-grey) !important;
}

/* Styling footer */
footer {
    background-color: var(--bs-grey);
    color: var(--bs-white);
    text-align: center;
    padding: 10px 0;
}
